<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<div class="login-form">
  <h1>
    Registration
  </h1>
  <form role="form" action="/auth/local/register" method="post" autocomplete="off">
    <div class="form-group">
      <label for="username" class="control-label">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="off" >
    </div>
    <div class="form-group">
      <label for="email" class="control-label">Username Or Email</label>
      <input type="text" class="form-control" name="email" id="email" placeholder="Email" autocomplete="off" >
    </div>
    <div class="form-group">
      <label for="password" class="control-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off" >
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
