<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sidhnor.cordova.este.sample" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SampleCordovaEsteReact</name>
  <description>
    Sample app for
  </description>
  <author email="gleb.godonoga@endava.com" href="http://endava.com">
    Endava
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <plugin name="cordova-plugin-whitelist" spec="~1.2.1"/>
  <plugin name="cordova-plugin-network-information" spec="~1.2.0"/>
  <plugin name="cordova-plugin-geolocation" spec="~2.1.0"/>
  <plugin name="cordova-plugin-splashscreen" spec="~3.1.0"/>
  <plugin name="cordova-plugin-camera" spec="~2.1.0"/>
  <engine name="browser" spec="~4.0.0"/>
  <engine name="windows" spec="~4.3.1"/>

  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <platform name="browser">
    <preference name="ShowSplashScreen" value="true"/>
    <preference name="AutoHideSplashScreen" value="true"/>
    <preference name="SplashScreenBackgroundColor" value="#EEE"/>
  </platform>
  <platform name="windows">
    <preference name="windows-target-version" value="10.0"/>
  </platform>

  <hook src="scripts/prepare-app-for-cordova.js" type="before_prepare"/>
</widget>
