<style>body { margin: 1px; }</style>
<p><b>Endava Open is always magical and this year will be no different.</b></p>
<i>Get ready to take part in what will be the 11th edition of the Endava Tennis Tournament.</i>

<p>This is a unique opportunity where representatives across our Endava units meet for some great
  time together, to share Endava experiences from different locations, and of course to fight for
  the Endava Championship Title.</p>

<p><b>The mandatory requirements for this tournament:</b></p>
<ul>
  <li> be part of the event</li>
  <li> have fun</li>
  <li> support your colleagues</li>
  <li> get together and socialize</li>
  <li> be ready for outstanding performances</li>
  <li> enjoy the battle</li>
</ul>
<p><b>Benefits:</b></p>
<ul>
  <li> exclusive opening and closing ceremony</li>
  <li> wonderful atmosphere</li>
  <li> enthusiastic supporters</li>
  <li> great time spending and evening entertainment</li>
  <li> engaging discussions</li>
</ul>
