<style>body {
    color: #000;
    opacity: .9;
    margin: 1px
  }</style>
<dl>
  <h3>Endava Open Tennis Tournament 2015 Schedule</h3>
  <br/>
  <dt>
    <b>Fri 15 May</b>
  </dt>
  <br/>
  <dd>13:00
    <br/> Opening Ceremony
  </dd>
  <br/>
  <dd>13:30 - 21:30
    <br/> 1st Round
  </dd>
  <br/>
  <dt>
    <b>Sat 16 May</b>
  </dt>
  <br/>
  <dd>09:00 - 15:00
    <br/> 2nd Round
  </dd>
  <br/>
  <dd>15:00 - 18:00
    <br/> Quarter-finals Doubles
  </dd>
  <br/>
  <dd>18:00 - 21:00
    <br/> Quarter-finals Singles
  </dd>
  <br/>
  <dt>
    <b>Sun 17 May</b>
  </dt>
  <br/>
  <dd>10:00 - 12:00
    <br/> Semi-finals Singles
  </dd>
  <br/>
  <dd>13:00 - 14:00
    <br/> Semi-finals Doubles
  </dd>
  <br/>
  <dd>14:00 - 16:00
    <br/> Finals Singles
  </dd>
  <br/>
  <dd>16:00 - 18:00
    <br/> Finals Doubles
  </dd>
</dl>
