<style>body { margin: 1px; }</style>

<ol style="padding-left: 20px">
  <li><p>The tournament is located in:</p>
    Country: <b>Moldova</b>
    <br>City: <b>Chisinau</b>
  </li>
  <li><p>The tournament is open to the following players:</p>
    Playing Level: <b>2.0 to 3.0</b>
    <br>Singles/Doubles: <b>Both Singles and Doubles are played this year</b>
    <br>Gender: <b>M</b>
  </li>
  <li>
    <p>There is a fee to join this tournament. See payment instruction below.</p>
    30&euro; participation fee
  </li>
  <li>
    <p>This tournament will begin <b>May 15, 2015</b> and end <b>May 17, 2015</b>.</p>
  </li>
  <li><p>There are no prizes awarded for this tournament.</p></li>
  <li><p>The winner of the match will report the match results. Match results are submitted directly on
      the website where they are checked for score inaccuracies. This means that only scores that are
      obtainable to finish a match are allowed.</p></li>
  <li><p>All tournament players should maintain current contact information. If you change phone
      numbers or e-mail addresses, you must update your profile so other member can contact you and
      you will receive email notifications.</p></li>
</ol>




