.countdown {

  height: 194px;
  margin: 60px 0 360px 0;

  @media (max-width: 767px) {
    margin: 32px auto;
  }

  .countdown-timer {
    font-size: 150px;
    line-height: 180px;
    text-align: center;

    width: 300px;
    height: 180px;
  }
  .mui-flat-button {
    background: transparent;
  }
}
