.masthead {
  position: relative;
  max-height: 550px;
  display: flex;
  flex-direction: column;

  @media @device-medium {
    position: relative;
    margin-bottom: -115px;
    min-height: 540px;
    height: 540px;
  }

  .masthead-container {
    min-height: 268px;
    height: 268px;
    width: 100%;
    max-width: 944px;
    margin: 0 auto;
    position: relative;
    padding-left: 72px;
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;

    @media (max-width: 884px) and (min-width: 768px) {
      max-width: 582px;
    }

    @media (min-width: 885px) {
      max-width: 704px;
    }

    @media @device-medium {
      padding: 0 0 170px 0;
      flex-direction: row;
      align-items: flex-end;
    }

    @media @device-large {
      max-width: 896px;
    }

    @media @device-x-large {
      max-width: 1024px;
    }
  }
}

.masthead-title {
  color: @accent-1-color;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 4px;

  @media @device-medium {
    text-align: right;
    font-size: 24px;
    line-height: 28px;
  }

  @media @device-x-large {
    font-size: 32px;
    line-height: 38px;
  }
}

.masthead-subtitle {
  color: #455A64;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 0;

  @media @device-medium {
    text-align: right;
    margin-bottom: 20px;
  }
}

.open-logo {
  display: none;
  background: black;
  width: 177px;
  height: 128px;

  &:after {
    content: '';
    display: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    margin-left: -10px;
    margin-top: -14px;
  }
}


@media @device-medium {
  .masthead-container {
    max-width: 704px;
    padding: 0 0 170px 0;
  }
}

.masthead-meta {
  flex: 1;
}
