/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



/* material-ui */
@import "node_modules/material-ui/src/less/scaffolding.less";

//Define a custom less file to override any variables defined in scaffolding.less
@import "custom-overrides.less";

@import "node_modules/material-ui/src/less/components.less";

@import "footer.less";
@import "header.less";
@import "layout/full-width-section.less";
@import "layout/flex-layouts.less";

@import "pages/home-page-hero.less";

/* App Specific Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.mui-app-canvas {

  h1, h2, h4 {
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-weight: 300;
  }

  h2 {
    font-weight: 400;

    @media @device-x-large {
      font-weight: 300;
    }
  }

  height: 100%;

  .open-menu {

    .mui-tabs-container { display: none; }
    .home-btn { display: none; }

    @media @device-medium {
      .mui-tabs-container { display: block; }
      .home-btn { display: block; }
      .menu-btn { display: none; }

    }
  }

  .mui-app-content-canvas {
    padding: 0;
  }

  .mui-toolbar {
    background: @primary-1-color;
    text-transform: uppercase;

    .mui-tabs-container {
      margin: 0 16px;
    }
  }

  .mui-tab-item {
    padding: 0 12px;
    font-size: 14px;
  }

}

.example-enter {
  transform: translateY(100px);
  opacity: 0;
  will-change: transform, opacity;
  transition: all .5s ease-in;
}

.example-enter.example-enter-active {
  transition-delay: .5s;
  transform: translateY(0px);
  opacity: 1;
}

.example-leave {
  transform: translateY(-100%);
  opacity: 1;
}

.example-leave.example-leave-active {
  transform: translateY(100px);
  opacity: 0;
  will-change: transform, opacity;
  transition: all .5s ease-in;
}

.bg-primary {
  background: @primary-1-color;
  color: white;
  h1 {
    color: white;
  }
  .mui-svg-icon * {
    fill: white;
  }
}

.bg-primary2 {
  background: @primary-2-color;
}

.bg-accent {
  background: @accent-1-color;
}

.card-container {
  z-index: 1;
  background: #fff;

  @media @device-medium {
    max-width: 704px;
    margin: 0 auto;
  }

  @media (max-width: 884px) and (min-width: 768px) {
    max-width: 582px;
  }

  @media @device-large {
    max-width: 896px;
  }

  @media @device-x-large {
    max-width: 1024px;
  }
}

.tall {
  height: 192px;
}

/*Left nav stuff*/

.mui-left-nav-menu {
  font-weight: 500;

  .logo {
    flex: 1;
    display: flex;

    span {
      color: white;
      font-size: 18px;
      align-self: flex-start;
      line-height: 50px;
      padding-left: 10px;
    }
  }
  .open-logo {
    width: 40px;
    height: 40px;
    margin: 0 8px;
  }

  .bottom {
    margin: 0 8px;
    color: white;
    font-size: 14px;
    line-height: 20px;
  }

  .tall {
    padding: 12px 8px;
  }
}

.card-content {
  padding: 0 16px;

  @media @device-medium {
    padding: 32px;
  }

  @media @device-large {
    padding: 32px 40px;
  }

}

.page-section {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 16px;

  @media @device-medium {
    padding-bottom: 32px;
  }
}

.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:#F58220;}

